*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: system-ui, -apple-system, sans-serif;
    background: #421fe0;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 20px;
}

.form-container{
    background: white;
    width: 40%;
    min-width: 480px;
    padding: 2.5rem;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

 h1{
    text-align: center;
    color: rgb(233, 7, 7);
    transition: absolute;
    position: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;

}
 h1:hover{
    background: fixed;
    
}
p{
text-align: left;
color: rgb(11, 11, 124);
margin-bottom: 2rem;
margin-top: 3rem;
font-size: 20px;
}
.form-group{
    margin-bottom: 1.6rem;
}
label{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #333
    
}
input, textarea{
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.2;
}
input:focus, textarea:focus{
    outline: none;
    border-color: rgb(38, 35, 233);
    box-shadow: 0 0 0 1px rgb(40, 40, 211);
}
textarea{
    min-height: 110;
    resize: vertical;
}
button{
    width: 100%;
    border-radius: 10px;
    color: rgb(238, 236, 236);
   padding:  10px 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: blue;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition:  0.2s;
}
button:hover{
    transition: 0.1s;
     background: black;
}
button:disabled {
    background: #aaa;
    cursor: not-allowed;
    }

.error{
    display:block;
    margin-top: 6px;
    color: darkcyan;
    min-height: 1rem;
    font-size: 0.85rem;
    }
    .form-message {
    margin-top: 1.5rem;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    font-weight: 500;
}

.success {
    background: #e8f5e9;
    color: #2e7d32;
    border: 1px solid #a5d6a7;
}

.error-msg {
    background: #494243;
    color: #c62828;
    border: 1px solid #ef9a9a;
}

.footer {
    background: red;
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-color: #421fe0;
    border-radius: 50px;
    padding: 5px 5px 5px 5px;
    height: fit-content;
    width: auto;

}
    
